/*  gr1 {
    width: 100px;
    height: 50px;
    background: linear-gradient(to bottom, #111111 0%, #111111 22%, #111111 62%, #111111 100%, #111111 100%), radial-gradient(ellipse at center, #111111 0%, #111111 22%, #111111 62%, #111111 100%, #111111 100%);
    z-index: 0;
        
}
.gr1::before {
   
    content :' ';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at center, rgba(000, 000, 000, 0) 0%, rgba(255, 255, 255, 0.8) 55%, rgba(255,255, 255, 1) 100%);
}*/
#register4
       {
           display: flex;
           justify-content: center;
           background-color: rgba(250,164,26,0.7);
           color:white;
            cursor: pointer;
            transition:0.3s;
           width:16%;
           padding:1% 0;
           text-align:center;         
           margin-top:20px;
           margin-bottom: 60px;
           /* font-family: sans-serif; */
           /* font-size: 15px;
           font-weight: 700; */
           z-index: 2000;
           /* position: relative; */
  /* top:-370px; 
  margin:2% auto 0 auto;
  width:16%;
  padding:1% 0;
  text-align:center;
  margin-top:-3.5%;
  background-color: rgba(250,164,26,0.7);
  color:white;
  cursor: pointer;
  transition:0.3s; */
        
       }
       #register4:hover
{
  background-color:rgba(250,164,26,1);
  box-shadow:0 0 5px rgba(250,164,26,1),
              0 0 25px rgba(250,164,26,1),
              0 0 50px rgba(250,164,26,1),
              0 0 0px rgba(250,164,26,1);
  letter-spacing:  3px;

}
#register3
       {
          display: flex;
          justify-content: center;
           z-index: 1000;
       }
/* #workshop
    {
        position: absolute;
        top:60px;
        height: 100vh;
        width: 100%;
    } */
#contact
    {
        /* position: absolute;
        top:0px;
        height: 100vh;
        width: 100%; */
    }
#googlemaps {
  height: 80%;
  width: 80%;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  /* box-shadow: inset 0px 8px 18px rgba(0, 0, 0, 0.25); */
  z-index: 0;
   
    /* Set z-index to 0 as it will be on a layer below the contact form */
}
@media(max-width:600px){
    .timeline_wrap{
        display: none;
    }}
@media(max-width:400px){
    .timeline_wrap{
        display: none;
    }
    #googlemaps{
        height: 80%;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
     #googlemaps:before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
       background: radial-gradient(ellipse at center, rgba(000, 000, 000, 0) 0%, rgba(255, 255, 255, 0.75) 60%, rgba(255,255, 255, 1) 90%);
      pointer-events: none;
       z-index: 999;
   }
/*#googlemaps:after {
   
    z-index: 0;
    content :' ';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: radial-gradient(ellipse at center, rgba(000, 000, 000, 0) 0%, rgba(255, 255, 255, 0.8) 55%, rgba(255,255, 255, 1) 100%);
}*/

#contactform {
  
  font-weight: 900;
    
  z-index: 1000; 
  width: 300px;
  margin: 60px auto 0;
  padding: 10px;
  background: white;
  height: 370px;
  opacity: 1; 
  color: black;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  top:10%;
  left: 22%;
  
}
 #address
    {
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 25px;
    }
#email
    {
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }
#number
    {
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }
.m
       {
          display: flex;
          justify-content: center;
           
        
       }
    #beh
    {
        margin-top: 10px;
    }
#beh , #beh2
    {
        display: flex;
        justify-content: center;
        align-content: center;
        /* background-color: aqua; */
        background-color: #1769FF;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 200px;
        margin-bottom: 25px;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
#beh1
    {
        display: flex;
        justify-content: center;
        /* background-color: pink; */
        background-color: #EA4C89;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 200px;
        margin-bottom: 25px;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

@media only screen and (max-width: 900px)
    {
  #contactform {
  
  font-weight: 900; 
  z-index: 1000; 
  width: 250px;
  margin: 60px auto 0;
  padding: 10px;
  background: white;
  height: 270px;
  opacity: 1; 
  color: black;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  left: 1%;
  top:28%;
      
  
}
    #address
    {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        padding-top: 10px;
    }
#email
    {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    }
#number
    {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    }
.m
       {
          display: flex;
          justify-content: center;
           
        
       }
    #beh
    {
        margin-top: 5px;
    }
#beh , #beh2
    {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: #1769FF;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 180px;
        margin-bottom: 10px;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
#beh1
    {
        display: flex;
        justify-content: center;
        background-color: #EA4C89;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 180px;
        margin-bottom: 10px;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #googlemaps:before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 1) ,rgba(255, 255, 255, 0));
      pointer-events: none;
       z-index: 999;
   }
    
   
    }
    .contact_content{
        display: none;
    }
    @media(max-width:600px){
        #contactform{
            display: none;
        }
        .contact_content{
            display: block;
            position: absolute;
    top: 18%;
    text-align: center;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
        }
        #googlemaps{
            height: 50%;
        }
    }
