*
{
  padding:0;
  margin:0;
}
/* The actual timeline (the vertical ruler) */

body
{
  font-family: 'Montserrat', sans-serif;
}

.ieeecs_logo
{
  position: relative;
  left: 2%;
  width:12%;
  z-index:10;
  margin-top:1%;
}


.timeline_wrap
{
  position: absolute;
  top:30px;
  left:-1%;
  width:2%;
  padding: 4%;
  z-index:10;
}

.vertical_line
{
  width:1px;
  background-color: rgba(220,220,220,0.7);
  margin:0 auto;
  border-radius: 10px;
  height: 550px;
}

.dots
{
  width:5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(210,210,210,0.8);
  margin:0px 0 36px 0;
  position: relative;
  left:-2px;
  top:15px;
}

.dots_pts
{
  width:5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(0,0,0,1);
  margin:0px 0 36px 0;
  position: relative;
  left:-2px;
  top:15px;
}

.number
{
  float:right;
  position: relative;
  margin-top:9px;
  left:-8px;
  z-index:10;
}

.menu
{
  float:left;
  position: relative;
  top:-3.5px;
  margin-top:-28px;
  left:8px;
  color:rgba(210,210,210,0.7);
  z-index:10;
}


.left
{
  position: relative;
  width:37%;
  left:15%;
  margin-top:-1%;
}

.left h1
{
  font-size:4.5vw;
  font-weight: 900;
}

.right
{
  position: relative;
  left:14%;
  margin-top:-27%;
  max-width:100%;
  height: auto;
}

.register
{
  
  position: relative;
  margin-top:-12%;
  left:19.5%;
  width:130px;
  background-color:  rgba(250,164,26,0.8);
  height: 4.5%;
  cursor: pointer;
  transition:300ms;
  z-index:10;

}

.register:hover
{
  box-shadow: 0 0 5px rgba(250,164,26,1),0 0 25px rgba(250,164,26,1),0 0 50px rgba(250,164,26,1),0 0 100px rgba(250,164,26,1);
}

.register p
{
  position: relative;
  top:25%;
  left:-50%;
  font-size:100%;
  font-weight: bold;
  cursor: pointer;
}

.arrow
{
  position: relative;
  left:55%;
  margin-top:-37.5%;
  max-width: 100%;
  height: auto;
}

.parts
{
  margin-top:-2%;
}

.sub_part
{
  border:solid;
  float:left;
  position: relative;
  margin-top:7%;
  width:22%;
  left:15%;
  padding:2% 2% 2% 0%;
  border-width:1px 0 0 0;
  letter-spacing: 1px;
  cursor:pointer;
  z-index:10;
}

.sub_part_topic
{
  font-weight: bold;
}

.pointer
{
  width:30px;
  height: 6px;
  background-color: black;
  float:left;
  position: relative;
  margin-top:7%;
  left:20%;
  margin-left:-5%;
}


@media only screen and (max-width:1000px)
{

  .timeline_wrap
  {
    left:1%;
  }

  .ieeecs_logo
  {
    width:14%;
  }

  .part1
  {
    position: relative;
    top:-5%;
  }

  .register
  {
    position: relative;
    top:-3%;
    left:22.5%;
    height: 4%;
  }

  .register p
  {
    top:6px;
  }

  .arrow
  {
    position: relative;
    top:-3px;
  } 

  .parts
  {
    margin-top:8%;
  }

  .left
  {
    position: relative;
    margin-top:-5%;
  }

  .left h1
  {
    font-size:7.5vw;
  }

  .right
  {
    max-width:120%;
    margin-top:-35%;
  }

  .parts
  {
    margin-top: -4%;
  }
}


@media only screen and (max-width:700px)
{
  

  .left
  {
    margin-top:-10%;
    font-size:3.7vw;
  }

  .left h1
  {
    font-size: 7.7vw;
  }

  .right
  {
    max-width:140%;
    margin-top:-38%;
    left:6%;
  }

  .register
  {
    position: relative;
    top:-5%;
    left:24.5%;
  }

  .parts
  {
    position: relative;
    top:-8%;
    margin-top:8%;
  }

  .sub_part
  {
    width:25%;
  }


}


@media only screen and (max-width:500px)
{
  
  .timeline_wrap
  {
    left:2.5%;
  }

  .vertical_line
  {
    width:1px;
    background-color: rgba(220,220,220,0.7);
    margin:0 auto;
    border-radius: 10px;
    height: 510px;
  }

  .dots
  {
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(210,210,210,0.8);
    margin:0px 0 33px 0;
    position: relative;
    left:-2px;
    top:15px;
  }

  .dots_pts
  {
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(0,0,0,1);
    margin:0px 0 33px 0;
    position: relative;
    left:-2px;
    top:15px;
  }

  .number
  {
    float:right;
    position: relative;
    margin-top:7px;
    left:-8px;
    z-index:10;
  }

  .menu
  {
    float:left;
    position: relative;
    top:-2.5px;
    margin-top:-28px;
    left:8px;
    color:rgba(210,210,210,0.7);
    z-index:10;
  }

  .ieeecs_logo
  {
    width:18%;
  }

  .left
  {
    position: relative;
    top:-40px;
    margin-top:66%;
    font-size:4.2vw;
    width:50%;
  }

  .left h1
  {
    font-size: 9vw;
  }

  .right
  {
    position: relative;
    top:-315px;
    max-width:170%;
    left:-45%;
  }

  .register
  {
    position: relative;
    top:-6%;
    margin-top:-32.5%;
    left:28%;
  }

  .parts
  {
    position: relative;
    top:-7%;
    left:-13.5%;
  }

  .sub_part
  {
    width:30%;
  }

  .pointer
  {
    left:21.2%;
  }

}

@media only screen and (max-width:475px)
{
  .parts
  {
    position: relative;
    top:-12%;
    margin-top:25%;
  }

  .right
  {
    margin-top:-155px;
    left:-37%;

  }

  .left
  {
    left:24%;
  }

  .register
  {
    left:37%;
  }
}

@media only screen and (max-width:460px)
{
  .parts
  {
    margin-top:10%;
  }

  .right
  {
    top:-310px;
    left:-48%;
    max-width:200%;
  }

  .left
  {
    left:24%;
    top:10px;
  }

  .register
  {
    top:-8%;
    left:37%;
  }
}

@media only screen and (max-width:422px)
{
  .vertical_line
  {
    width:1px;
    background-color: rgba(220,220,220,0.7);
    margin:0 auto;
    border-radius: 10px;
    height: 460px;
  }

  .dots
  {
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(210,210,210,0.8);
    margin:0px 0 30px 0;
    position: relative;
    left:-2px;
    top:15px;
  }

  .dots_pts
  {
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(0,0,0,1);
    margin:0px 0 30px 0;
    position: relative;
    left:-2px;
    top:15px;
  }

  .number
  {
    float:right;
    position: relative;
    margin-top:7px;
    left:-8px;
    z-index:10;
  }

  .menu
  {
    float:left;
    position: relative;
    top:0.5px;
    margin-top:-28px;
    left:8px;
    color:rgba(210,210,210,0.7);
    z-index:10;
  }

  .parts
  {
    position: relative;
    top:-12%;
    margin-top:15%;
  }

  .right
  {
    top:-265px;
    max-width:200%;
    left:-49%;
  }

  .register
  {
    top:-5%;
  }
  

  
  .left
  {
    top:10px;
  }

}

@media only screen and (max-width:385px)
{

  .vertical_line
  {
    width:1px;
    background-color: rgba(220,220,220,0.7);
    margin:0 auto;
    border-radius: 10px;
    height: 430px;
  }

  .dots
  {
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(210,210,210,0.8);
    margin:0px 0 27.5px 0;
    position: relative;
    left:-2px;
    top:15px;
  }

  .dots_pts
  {
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(0,0,0,1);
    margin:0px 0 27.5px 0;
    position: relative;
    left:-2px;
    top:15px;
  }

  .number
  {
    float:right;
    position: relative;
    margin-top:7px;
    left:-8px;
    z-index:10;
  }

  .menu
  {
    float:left;
    position: relative;
    top:3.5px;
    margin-top:-28px;
    left:8px;
    color:rgba(210,210,210,0.7);
    z-index:10;
  }

  .parts
  {
    position: relative;
    top:-7.5%;
    margin-top:15%;
  }

  .right
  {
    top:-255px;
    max-width:200%;
    left:-49%;
  }

  .register
  {
    top:-6%;
    left:41%;
  }
  
  .left
  {
    top:10px;
  }

  .sub_part
  {
    font-size:3vw;
  }

  .register p
  {
    top:3.5px;
  }
}

@media only screen and (max-width: 361px)
{
  .vertical_line
  {
    width:1px;
    background-color: rgba(220,220,220,0.7);
    margin:0 auto;
    border-radius: 10px;
    height: 460px;
  }

  .dots
  {
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(210,210,210,0.8);
    margin:0px 0 30px 0;
    position: relative;
    left:-2px;
    top:15px;
  }

  .dots_pts
  {
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(0,0,0,1);
    margin:0px 0 30px 0;
    position: relative;
    left:-2px;
    top:15px;
  }

  .number
  {
    float:right;
    position: relative;
    margin-top:7px;
    left:-8px;
    z-index:10;
  }

  .menu
  {
    float:left;
    position: relative;
    top:0.5px;
    margin-top:-28px;
    left:8px;
    color:rgba(210,210,210,0.7);
    z-index:10;
  }
  .parts
  {
    position: relative;
    top:-5%;
    margin-top:15%;
  }

  .right
  {
    top:-225px;
    max-width:200%;
    left:-49%;
  }

  .register
  {
    top:-2%;
  }

  .register p
  {
    top:20%;
  }

  .arrow
  {
    top:-5px;
  }

  .left
  {
    top:10px;
  }

  .sub_part
  {
    width:27%;
  }

  .sub_part_topic
  {
    font-size:3vw;
  }

  .sub_part_desc
  {
    font-size:2.8vw;
  }

  .pointer
  {
    left:-7%;
  }
}

@media only screen and (max-width: 338px)
{
  .parts
  {
    margin-top:24%;
  }

  .right
  {
    top:-220px;
  }

  .register
  {
    top:2%;
  }

  .left
  {
    top:10px;
  }

  .timeline_wrap
  {
    left:4%;
  }
}

@media only screen and (max-width: 321px)
{
  .vertical_line
  {
    width:1px;
    background-color: rgba(220,220,220,0.7);
    margin:0 auto;
    border-radius: 10px;
    height: 400px;
  }

  .dots
  {
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(210,210,210,0.8);
    margin:0px 0 25px 0;
    position: relative;
    left:-2px;
    top:15px;
  }

  .dots_pts
  {
    width:5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(0,0,0,1);
    margin:0px 0 25px 0;
    position: relative;
    left:-2px;
    top:15px;
  }

  .number
  {
    float:right;
    position: relative;
    margin-top:7px;
    left:-8px;
    z-index:10;
  }

  .menu
  {
    float:left;
    position: relative;
    top:5.5px;
    margin-top:-28px;
    left:8px;
    color:rgba(210,210,210,0.7);
    z-index:10;
  }

  .parts
  {
    position: relative;
    top:0%;
    margin-top:15%;
  }

  .right
  {
    top:-200px;
    max-width:190%;
    left:-45%;
  }

  .register
  {
    top:2%;
    left:40%;
    width:100px;
  }

  .register p
  {
    font-size:3vw;

  }

  .arrow
  {
    width:10vw;
    top:-1px;
  }
  
  .left
  {
    top:-10px;
  }

  .left h1
  {
    font-size:10vw;
  }
}