.register3
{
  position: relative;
  top:-30%; 
  margin:2% auto 0 auto;
  width:16%;
  padding:1% 0;
  text-align:center;
  margin-top:-3.5%;
  background-color: rgba(250,164,26,0.7);
  color:white;
  cursor: pointer;
  transition:0.3s;
}

.register3:hover
{
  background-color:rgba(250,164,26,1);
  box-shadow:0 0 5px rgba(250,164,26,1),
              0 0 25px rgba(250,164,26,1),
              0 0 50px rgba(250,164,26,1),
              0 0 0px rgba(250,164,26,1);
  letter-spacing:  3px;

}

.heading_timeline
{
  position: relative;
   top:-10%; 
  text-align: center;
}

.heading_timeline h1
{
  
  font-weight: bold;
  font-size:4.5vw;
}

.timeline_nav_bar
{
  margin:0 auto;
  text-align:center;
  position: relative;
  /* top:-10%; */
  
  padding-top: 20px;
  padding-bottom: 20px;
}

.timeline_date
{
  position: relative;
  top:-15px;
  font-size:2vw; 
}

.nav_left
{
  margin-right: 4%;
  cursor: pointer;
  position: relative;
  top:-20px;
 
  z-index:100;
}



.nav_right
{
  margin-left: 4%;
  cursor: pointer;
  position: relative;
  top:-20px;
  z-index:100;
}

.hori_timeline_wrap
{
  position: relative;
  /* top:-18%;
  left:2.5%; */
}

.event_name_wrap
{
  display:flex;
  flex-grow:6;
  
  width:90%;
  justify-content: space-between;
  margin:0 auto;
  text-align: center;
  position: relative;
  

  /* top:15.5vh; */
  
}

.event_name
{
  line-height: 100%;
  position: relative;
  
  font-size:1.1vw;
  font-weight: bold;
 
  text-align: center;
  width:15%;
  
}




.hori_line
{
  height: 1.5px;
  width:80%;
  background-color: rgb(200,200,200);
  margin:0 auto;
  position: relative;
  /* top:13vh; */
  
}

.dots_wrap
{
  display:flex;
  justify-content: space-between;
  width:75%;
  margin:0 auto;
  position: relative;
  top:-.45vh;
}

.dots2,.dots2_pt
{
  height: 5px;
  width:5px;
  border-radius: 50%;
}

.dots2
{
  background-color: rgb(170,170,170);
}

.dots2_pt
{
  background-color: rgb(0,0,0);
}

.event_time_wrap
{
  display:flex;
  flex-grow:6;
  justify-content: space-between;
  width:82%;
  margin:0 auto;
  text-align: center;
  position: relative;
  /* top:14vh; */
}

.event_time
{
  position: relative;
  font-size:1.1vw;
  font-weight: bold;
}
.time_outer{
  display: inline-block;
  width: 300%;
  margin: auto;
  transition: 1s ease;
  overflow: hidden;
}
.alltime{
  float: left;
  width: 33.33333% !important;
}


@media only screen and (max-width:1000px)
{
  

  .hori_timeline_wrap
  {
    width:90%;
    margin:0 auto;
  }

}

@media only screen and (max-width:900px)
{
  

  .hori_timeline_wrap
  {
    width:90%;
    margin-left:8%;
  }

  .event_time_wrap
  {

  }

  .event_name_wrap
  {
    width:90%;
    /* top:14.5vh; */
  }

  .dots_wrap
  {
    width:77%;
  }

  .event_time_wrap
  {
    width:85%;
  }

  

  

}


@media only screen and (max-width:700px)
{
 

  .hori_timeline_wrap
  {
    width:90%;
    margin-left:8%;
    position: relative;
    /* top:-7vh; */
  }

  .hori_line
  {
    width:90%;
  }

  .event_time,.event_name
  {
    font-size: 2.2vw;
  }

  .event_name_wrap
  {
    width:100%;
    /* top:14.5vh; */
  }

  .dots_wrap
  {
    width:85%;
  }

  .event_time_wrap
  {
    width:92.5%;
  }

  

  

}

.time_hide2{
  display: none;
}

@media only screen and (max-width:650px)
{
  .time_box{
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .time_box ul{
    width: 80%;
    background-color: #ffffff;
    box-shadow: inset 0px 8px 18px rgba(0, 0, 0, 0.25);
    margin: auto;
  }
  .time_box li{
    padding: 5px;
  }
  
.time_box li:nth-child(even) {background-color: #202020; color: #ffffff;}
  .time_hide{
    display: none;
  }
  .time_hide2{
    display: inline-block;
  }

  .register3
  {
    display:none;
  }

  .heading_timeline
  {
    position: relative;
    /* top:-20%; */
  }

  .heading_timeline h1
  {
    font-size:8vw;
  }

  .timeline_nav_bar
  {
    position: relative;
    /* top:-12%; */
  }

  .timeline_date
  {
    /* top:-20px; */
    font-size: 5vw;
  }

  .hori_timeline_wrap
  {
    /* top:-18vh; */
    width:65%;
    height: 30vh;
    overflow-x: hidden;
    overflow-y: hidden;
    margin:0 auto;
    position: relative;
    /* top:-5vh; */

  }

  .hori_timeline_wrap::-webkit-scrollbar { width: 0 !important }

  .event_name_wrap
  {
    width:490%;
    /* top:6vh; */
    left:20.5%;
    transition:0.3s;
  }

  .event_name p
  {
    font-size:3vw;
  }

  .event_time p
  {
    font-size: 3vw;
  }

  .hori_line
  {
    width:500%;
    /* left:45%; */
    /* top:6.5vh; */
    /* top: 6.68vh; */
    transition:0.3s;
  }

  .dots_wrap
  {
    width:430%;
    /* top:6.1vh; */
    left:50%;
    transition:0.3s;
  }

  .event_time_wrap
  {
    width:465%;
    left:33%;
    /* top:9vh; */
    transition:0.3s;
  }

  .event_name
  {
    line-height: 150%;
    position: relative;
    font-weight: bold;
    /* top:-3vh; */
  }

  .event_time
  {
    font-weight: bold;
  }
}
